<%= form_with(model: fridge, local: true) do |form| %>
  <% if fridge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fridge.errors.count, "error") %> prohibited this fridge from being saved:</h2>

      <ul>
      <% fridge.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
