<h1>Fridges <a href="/fridges/new">(+)</a></h1>
<ul>
  <% @fridges.each do |fridge| %>
    <li>
      <a href="/fridges/<%= fridge.id%>">
        <%= fridge.location%>
      </a>
    </li>
  <%end%>
</ul>
