<h1>Fridges <a href="/fridges/new">(+)</a></h1>
<ul>
  <% @fridges.each do |fridge| %>
    <li>
      <a href="/fridges/<%= fridge.id%>">
        <%= fridge.location%>
      </a>
      <a href="/fridges/<%= fridge.id%>/edit">
        (Edit)
      </a>
      <%= link_to "Delete", fridge_path(fridge), method: :delete %>
    
   
    </li>
  <%end%>


</ul>
